<div mat-toolbar class="navbar-container">
  <div mat-toolbar-row>
    <a href="/movies">
      <span>
        <mat-icon color="accent">local_movies</mat-icon>
      </span>
    </a>
    <a href="/profile" style="margin-left: 20px; margin-right: 10px">
      <span>
        <mat-icon color="accent">person</mat-icon>
      </span>
    </a>
    <!-- add logout function on click -->
    <button
      mat-icon-button
      aria-label="logout"
      (click)="logoutUser()"
      style="margin-right: 10px"
    >
      <mat-icon color="accent">exit_to_app</mat-icon>
    </button>
  </div>
</div>
