<app-navbar></app-navbar>
<div class="movie-card--container">
  <mat-card *ngFor="let movie of movies" class="movie-card--card">
    <mat-card-header>
      <mat-card-title class="movie-card--title">{{
        movie.title
      }}</mat-card-title>
      <mat-card-subtitle class="movie-card--subtitle"
        >Directed by: {{ movie.director.directorName }}</mat-card-subtitle
      >
    </mat-card-header>
    <img src="{{ movie.imagePath }}" alt="{{ movie.title }}" />
    <mat-card-actions class="movie-card--btns-container">
      <div>
        <button
          mat-button
          color="accent"
          style="color: #d9d9d9"
          (click)="openGenreDialog(movie.genre)"
        >
          Genre
        </button>
        <button
          mat-button
          color="accent"
          style="color: #d9d9d9"
          (click)="openDirectorDialog(movie.director)"
        >
          Director
        </button>
        <button
          mat-button
          color="accent"
          style="color: #d9d9d9"
          (click)="openSynopsisDialog(movie)"
        >
          Synopsis
        </button>
      </div>
      <button
        (click)="addFavMovie(movie._id)"
        *ngIf="!isFavorite(movie._id)"
        style="background: none; border: none"
      >
        <mat-icon color="accent">favorite_border</mat-icon>
      </button>
      <button
        (click)="removeFavMovie(movie._id)"
        *ngIf="isFavorite(movie._id)"
        style="background: none; border: none"
      >
        <mat-icon color="accent">favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
