<!-- src/app/user-registration-form/user-registration-form.component.html -->
<mat-card>
  <mat-card-header>
    <mat-card-title style="color: white">Sign Up!</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.username"
          placeholder="Username"
          type="text"
          name="username"
          required
          minlength="5"
          maxlength="10"
        />
        <mat-error>Name: <strong>min 5 characters</strong></mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.password"
          type="password"
          placeholder="Password"
          name="password"
          required
          minlength="5"
          maxlength="10"
        />
        <mat-error>Password: <strong>min 5 and max 10</strong></mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.email"
          type="email"
          placeholder="Email"
          name="email"
          required
        />
        <mat-error>Email is <strong>required</strong></mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.birthday"
          type="date"
          placeholder="Birthday"
          name="birthday"
          required
        />
        <mat-error>Birthday is <strong>required</strong></mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      (click)="registerUser()"
      color="accent"
      style="color: black"
    >
      Sign Up
    </button>
  </mat-card-actions>
</mat-card>
