<app-navbar></app-navbar>
<div class="profile-container backimg">
  <mat-card>
    <mat-card-content style="display: flex; flex-direction: column">
      <!-- <div mat-form-field> -->
      <mat-form-field class="form-item" style="padding-bottom: 15px">
        <input
          [(ngModel)]="userData.username"
          matInput
          placeholder="new username"
          type="text"
          name="username"
          required
          minlength="5"
          maxlength="10"
        />
        <mat-error>Name: <strong>min 5 characters</strong></mat-error>
      </mat-form-field>
      <mat-form-field class="form-item" style="padding-bottom: 15px">
        <input
          [(ngModel)]="userData.password"
          matInput
          placeholder="new password"
          type="password"
          name="password"
          required
          minlength="5"
          maxlength="10"
        />
        <mat-error>Password: <strong>min 5 and max 10</strong></mat-error>
      </mat-form-field>
      <mat-form-field class="form-item" style="padding-bottom: 15px">
        <input
          [(ngModel)]="userData.email"
          matInput
          placeholder="new email"
          type="email"
          name="email"
          required
        />
        <mat-error>Email is <strong>required</strong></mat-error>
      </mat-form-field>
      <!-- </div> -->
      <div style="display: flex; justify-content: center">
        <button
          mat-raised-button
          color="accent"
          style="color: black"
          (click)="editUser()"
        >
          SUBMIT
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
