<mat-sidenav-container class="sidenav-container backimg">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      @if (isHandset$ | async) {
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <span class="navbar-title">myFlix</span>
    </mat-toolbar>
    <!-- Hero Section: Start -->
    <div class="hero-section">
      <h1 class="hero-section--title">Welcome to myFlix!</h1>
      <div>
        <button
          mat-raised-button
          color="warn"
          style="margin-right: 20px; color: black"
        >
          Sign Up
        </button>
        <button mat-raised-button color="warn" style="color: black">
          Login
        </button>
      </div>
    </div>
    <!-- End: Hero Section -->
  </mat-sidenav-content>
</mat-sidenav-container>
